pythom {% extends 'debtlist/base.html' %}

{% block title %}
    Долговая книга
{% endblock %}

{% block body %}
    <div>
    {% if not debts %}
        <h3>Долгов нет</h3>
    {% else %}
        <table border="1" cellpadding="5" >
            <tr>
                <td>Имя</td>
                <td>Сумма</td>
                <td>Дата взятия</td>
                <td>Дата возврата</td>
                <td>Примечания</td>

            </tr>
            {% for debt in debts %}
                <tr>
                    <td>{{ debt.name }}</td>
                    <td>{{ debt.debt_sum }}</td>
                    <td>{{ debt.take_date }}</td>
                    <td>{{ debt.return_date }}</td>
                    <td>{% firstof debt.notes 'Нет примечаний' %}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    </div>
{% endblock %}