{% extends 'debtlist/base.html' %}

{% block title %}
Пользователи
{% endblock %}

{% block body %}
    <div>
    {% if not users %}
        <h3>Пользователей нет</h3>
    {% else %}
        <ul>
            {% for user in users %}
                <li>
                   Логин:
                    {{ user.username }}
                    Почта:
                    {{ user.email }} {#Добавить разрашения#}
                </li>

            {% endfor %}

        </ul>
    {% endif %}
    </div>
{% endblock %}